.fullSundae{
  height:500px;
  position:static;
}

.fullSundae > .iceCreamScoop{
  height:100px;
}

.glass{
  position:relative;
  height:60%;
}

.glass .iceCreamScoop{
  height: 33.3%;
  position:relative;
}